@{
    ViewBag.Title = "About Us";
}
<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">About Thinkbridge Software Careers</h2>
            <p> 
                Its 2013! The founders of Thinkbridge, Anand Krishnan and Sai Ganesh, were finding that the opportunities for non-academically minded who want to have a career in Software is limited. 
                There was a lack of places where they got an opportunity to explore, learn, think, create, collaborate, and have a work-life balance. 
                <br /><br />
                The common wisdom seems to be that you will have great careers if you attended an engineering college, completed your degree, got an excellent GPA, learnt all the latest technologies, and searched day & night for the first job. 
                Instead you get campus interviews, cubicles, clocking in and out, outdated technologies, politics, people afraid of change and superiority complex, zero fun, bad cafeteria food and learn-on-your-own training.
            </p>
            <blockquote>
                <p>“Education is what remains after one has forgotten everything he learned in school,”</p>
                <small>Albert Einstein</small>
            </blockquote>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/Jobfair.jpg" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/Collab.jpg" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">An Interesting Idea</h2>
            <p>We have a different idea. What if we find motivated, logical and analytical minds and mould them into world class software people? What if we take the experience of our careers in India & US, and share them with the driven & the brightest?
            What if communication and collaboration becomes our central theme? What if exploration of technical tools & technologies happens just like breathing?</p>

            <p>At Thinkbridge, life, not job search, becomes the central function. Our responsibility is to share the knowledge of what we have gained and give you an in-depth look of the world, where you can build successful software careers.</p>

            <blockquote>
                <p>“I have never let my schooling interfere with my education.”</p>
                <small>MarkTwain</small>
</blockquote>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Why Us?</h2>
            <p>We're devoted to being the best we can. 
            We will work hard to make you pragmatic, scientific and smart enough to see the pros and cons. 
            We will show you how to produce consistent results in software. 
            We will pave the way for your career &amp; and manage it if you require it. 
            We will make you rockstars in software. 
            We will share business knowledge.
            We will teach you to be rich. 
            We will kindle your longing to explore the world. 
            We will make you curious. 
            We will teach to be courteous. 
            We will lead, for you to be leaders. 
            We will listen, for you to listen. 
            We will grow with you.
            We will the bridge between your schooling and your working.
            </p>
            <blockquote>
                <p>
                    “I cannot teach anybody anything, I can only make them think.”
                </p>
                <small>Socrates</small>
            </blockquote>
            <blockquote>
                <p>"And in the end, it's not the years in your life that count. It's the life in your years."</p>
                <small>Abraham Lincoln</small>  
                </blockquote>
</div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/Live.jpg" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">        
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/Content/Lions.jpg" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Anand Krishnan</h2>
            <blockquote>
                <p>“First they ignore you, then they laugh at you, then they fight you, then you win.”</p><small>Mahatma Gandhi</small>
            </blockquote>
                <h2 class="featurette-heading">Sai Ganesh</h2>
                <blockquote>
                    <p>“The idea that the majority of students attend a university for an education independent of the degree and grades is a hypocrisy everyone is happier not to expose. Occasionally some students do arrive for an education but rote and mechanical nature of the institution soon converts them to a less idealic attitude”</p>
                    <small>Robert M. Pirsig in Zen and the Art of Motorcycle Maintance</small>
                </blockquote>


</div>
    </div>
</div>